@import "tailwindcss";

:root {
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
}

@theme {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-inter);
  @apply bg-stone-50 text-stone-900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}